{{> header_inc.html}}
{{> navbar_inc.html}}

	<div id="content" class="container">
		<div class="col-sm-10">
			<div id="board" class="panel panel-default">
				<table class="table table-condensed">
					{{#posts}}
					<tr>
						<td class="post-author" title="{{user_agent}}">{{info}}</td>
						<td class="post-time"   title="{{date}}">{{clock}}</td>
						<td class="post-message text-justify">{{{message}}}</td>
					</tr>
					{{/posts}}
				</table>
			</div>
		</div>

		<div id="post" class="col-sm-10">
			<form name="post-form" class="form-inline" method="post" action="/post">
				<div class="form-group">
					<label class="sr-only" for="message">Message</label>
					<div class="input-group">
						<div class="input-group-addon">Anonyme</div>
						<input type="text" class="form-control" id="message" name="message" placeholder="Entrez votre message ici">
					</div>
					<button type="submit" class="btn btn-primary">Envoyer</button>
				</div>
			</form>
		</div>
	</div>

{{> footer_inc.html}}
