{{> header_inc.html}}
{{> navbar_inc.html}}

	<div id="content" class="container">
		<div class="col-sm-10">
			<div id="board" class="panel panel-default">
				<table class="table table-condensed">
					{{#posts}}
					<tr>
						<td class="post-author" title="{{user_agent}}">{{info}}</td>
						<td class="post-time"   title="{{date}}">{{clock}}</td>
						<td class="post-message text-justify">{{{message}}}</td>
					</tr>
					{{/posts}}
				</table>
			</div>
		</div>

		<div id="post" class="col-sm-10">
			<form id="post-form" name="post-form" class="form-inline">
				<div class="form-group">
					<label class="sr-only" for="message">Message</label>
					<div class="input-group">
						<div class="input-group-addon">Anonyme</div>
						<input type="text" class="form-control" id="message" name="message" placeholder="Entrez votre message ici">
					</div>
					<button type="submit" class="btn btn-primary" id="send">Envoyer</button>
				</div>
			</form>
			<div id="feedback"></div>
		</div>
	</div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script>
	$(document).ready(function() {
    	displayBoard();

		$("#post-form").submit(function() {
			console.log("Submitting the form...");
			$.ajax({
				url     : "/post",
				data    : $('#post-form').serialize(),
				type    : "POST",
				dataType: "text"
			}).done(messagePosted)
			.fail(messageError);
			console.log("POST request sent.");
			return false;
    	});

		function messagePosted(p_response) {
			console.log("--Success");
			console.log("  response: " + p_response);
			showSuccessFeedback("Message ajouté");
		}

		function messageError(p_response, p_status, p_message) {
			console.log("--Error");
			console.log("  response: " + p_response);
			console.log("    status: " + p_status);
			console.log("     error: " + p_message);
			showWarningFeedback("<strong>Erreur&nbsp;:</strong> " + p_message);
		}

		function showSuccessFeedback(p_message) {
			addAlert("success", p_message);
			setTimeout(closeFeedback, 2000);
		}

		function showWarningFeedback(p_message) {
			addAlert("warning", p_message);
			setTimeout(closeFeedback, 8000);
		}

		function addAlert(p_type, p_message) {
			$("<div/>", {
				id     : "feedback-alert",
				"class": "alert alert-dismissible alert-" + p_type,
				role   : "alert",
				html   : "<button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-label=\"Close\"><span aria-hidden=\"true\">&times;</span></button>" + p_message
			}).appendTo("#feedback");
		}

		function closeFeedback() {
			$("#feedback-alert").alert("close");
		}

    	function displayBoard() {
			console.log("Refreshing board...");
    		//$('#board').load('ac.htm');
    		$('#message').val('');
    		$('#message').focus();
			console.log("Board refreshed.");
    	}
    	//setInterval(displayBoard, 4000);

	});
	</script>

{{> footer_inc.html}}
