{{#*inline "page"}}

	<div id="content" class="container">
		<div id="config" class="col-sm-10 well well-lg">
			<h1>Configuration des clients pour {{board_name}}</h1>
			<p>à remplir</p>
		</div>
	</div>

{{/inline}}
{{~> (parent)~}}
