		<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
			<div class="container-fluid">
				<a class="navbar-brand" href="/">
					<img src="/res/img/oxyboard-logo-48.png" alt="" width="32" height="32" class="d-inline-block align-text-top">
					{{ board_name }}
				</a>
				<button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" href="/board">Tribune</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/clients/config">Configuration clients</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/about">&Agrave; propos</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
